
.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .site-link {
        .site-title-link {
            font-size: 22px;
        }

    }

    .wrapper {
        margin-left: auto;
        display: flex;
        align-items: center;

        .language {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                width: 2px;
                height: 20px;
                background-color: gray;
            }
        }

        .my-profile {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}