<%- include("parts/_header") %> 


<section class="login-section">
    <div class="container">
        <div class="login">

            <div class="login-header">
                <a href="" class="login-link">Kirish</a>
            </div>

            <div class="login-main row">
                <form action="login" class="login-form col-12 col-lg-6">
                    <div class="input-group">
                        <input type="email" name="email" id="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" id="password" required>
                        <label for="password">Parol</label>
                    </div>
                    <a href="" class="forgot-password">Parolni unutdizgizmi?</a>
                    <button class="btn btn-primary enter-btn">Kirish</button>
                </form>

            </div>

        </div>
    </div>
</section>

<%- include("parts/_footer") %> 