<%- include("parts/_header") %> 


<section class="login-section">
    <div class="container">
        <div class="login">
            <div class="login-header">
                <a href="" class="login-link">Kirish</a>
                <a href="" class="reg-link">Royxatdan o'tish</a>
            </div>
            <div class="login-main">
                <form class="login-form">
                    <div class="input-group">
                        <input type="email" name="email" id="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" id="password" required>
                        <label for="password">Parol</label>
                    </div>
                    <a href="" class="forgot-password">Parolni unutdizgizmi?</a>
                    <button class="enter-btn">Kirish</button>
                </form>
                <form class="reg-form">
                    <div class="input-group">
                        <input type="email" name="regEmail" id="regEmail" required>
                        <label for="regEmail">Email</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- <%- include("parts/footer") %>  -->
<%- include("parts/_footer") %> 