
<nav class="nav">
    <div class="container">
        <div class="navbar-wrapper">
            <a href="#" class="site-link">
                <h1 class="site-title-link">OLX</h1>
            </a>
            <div class="wrapper">
                <div class="language">
                    <a href="#" class="uz-language">O'z</a>
                    <span class="stick"></span>
                    <a href="#" class="ru-language">RU</a>
                </div>
                <a href="#" class="favorites-link">
                    <i class="far fa-heart"></i>
                </a>
                <a href="/users/login" class="my-profile">
                    <i class="far fa-user"></i>
                    <p class="my-profil__text">Kirish</p>
                </a>
                <a href="/users/signup" class="my-profile">
                    <p class="my-profil__text">Ro'yxatdan o'tish</p>
                </a>
                <a href="#" class="advertising-placement">Reklamangizni yuboring</a>
            </div>
        </div>
        
    </div>
</nav>