<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-links row">
                <div class="col-4">
                    <a href="#">Mobil ilovalar</a>
                    <a href="#">Yordam</a>
                    <a href="#">Pulli xizmatlar</a>
                    <a href="#">OLX da biznes</a>
                    <a href="#">Saytda reklama</a>
                    <a href="#">Foydalanish shartlari</a>
                    <a href="#">Maxfiylik siyosati</a>
                    <a href="#">Hamkorlar</a>
                </div>
                <div class="col-4">
                    <a href="#">Qanday sotish va sotib olish kerak</a>
                    <a href="#">Xavfsizlik qoidalari</a>
                    <a href="#">Sayt xaritasi</a>
                    <a href="#">Mintaqalar xaritasi</a>
                    <a href="#">OLX da karyera</a>
                    <a href="#">Biz bilan bog'lanish</a>
                </div>
            </div>
        </div>
    </div>
</footer>